<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>last update</th>
      <th>last close</th>
      <th>+1j</th>
      <th>+15j</th>
      <th>+30j</th>
      <th>+61j</th>
      <th>+91j</th>
      <th>182j</th>
      <th>365j</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2024-04-22</td>
      <td>18137.65</td>
      <td>-0.30%</td>
      <td>-1.09%</td>
      <td>-0.66%</td>
      <td>0.42%</td>
      <td>-2.06%</td>
      <td>-2.32%</td>
      <td>-2.51%</td>
    </tr>
    <tr>
      <td>MSE</td>
      <td>2230781.50</td>
      <td>24781.71</td>
      <td>178470.61</td>
      <td>339401.84</td>
      <td>477644.94</td>
      <td>707174.50</td>
      <td>1567896.88</td>
      <td>1114173.25</td>
    </tr>
    <tr>
      <td>MAE</td>
      <td>1302.17</td>
      <td>117.72</td>
      <td>322.98</td>
      <td>443.36</td>
      <td>534.32</td>
      <td>669.49</td>
      <td>957.59</td>
      <td>835.30</td>
    </tr>
    <tr>
      <td>RSE</td>
      <td>1.46</td>
      <td>0.11</td>
      <td>0.29</td>
      <td>0.41</td>
      <td>0.50</td>
      <td>0.64</td>
      <td>0.99</td>
      <td>1.27</td>
    </tr>
  </tbody>
</table>