<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>last update</th>
      <th>last close</th>
      <th>+1j</th>
      <th>+15j</th>
      <th>+30j</th>
      <th>+61j</th>
      <th>+91j</th>
      <th>182j</th>
      <th>365j</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2024-04-23</td>
      <td>38503.69</td>
      <td>-0.38%</td>
      <td>-0.13%</td>
      <td>0.52%</td>
      <td>0.60%</td>
      <td>-1.61%</td>
      <td>7.42%</td>
      <td>8.37%</td>
    </tr>
    <tr>
      <td>MSE</td>
      <td>4397151.00</td>
      <td>133302.97</td>
      <td>841049.19</td>
      <td>1468617.00</td>
      <td>2163594.50</td>
      <td>3461953.50</td>
      <td>4477485.50</td>
      <td>1260035.12</td>
    </tr>
    <tr>
      <td>MAE</td>
      <td>1550.35</td>
      <td>288.23</td>
      <td>703.62</td>
      <td>926.12</td>
      <td>1125.32</td>
      <td>1407.16</td>
      <td>1576.45</td>
      <td>791.38</td>
    </tr>
    <tr>
      <td>RSE</td>
      <td>1.17</td>
      <td>0.16</td>
      <td>0.42</td>
      <td>0.54</td>
      <td>0.67</td>
      <td>0.92</td>
      <td>1.16</td>
      <td>0.53</td>
    </tr>
  </tbody>
</table>