<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>last update</th>
      <th>last close</th>
      <th>+1j</th>
      <th>+15j</th>
      <th>+30j</th>
      <th>+61j</th>
      <th>+91j</th>
      <th>182j</th>
      <th>365j</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2024-04-23</td>
      <td>5070.55</td>
      <td>-0.45%</td>
      <td>0.39%</td>
      <td>1.01%</td>
      <td>-2.71%</td>
      <td>3.16%</td>
      <td>11.06%</td>
      <td>11.36%</td>
    </tr>
    <tr>
      <td>MSE</td>
      <td>137147.83</td>
      <td>3013.97</td>
      <td>18788.56</td>
      <td>33722.28</td>
      <td>67773.63</td>
      <td>90653.89</td>
      <td>139703.38</td>
      <td>108955.91</td>
    </tr>
    <tr>
      <td>MAE</td>
      <td>320.26</td>
      <td>43.97</td>
      <td>103.48</td>
      <td>142.40</td>
      <td>192.63</td>
      <td>222.02</td>
      <td>282.27</td>
      <td>273.58</td>
    </tr>
    <tr>
      <td>RSE</td>
      <td>1.24</td>
      <td>0.14</td>
      <td>0.37</td>
      <td>0.48</td>
      <td>0.71</td>
      <td>0.91</td>
      <td>1.22</td>
      <td>0.97</td>
    </tr>
  </tbody>
</table>