<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>last update</th>
      <th>last close</th>
      <th>+1j</th>
      <th>+15j</th>
      <th>+30j</th>
      <th>+61j</th>
      <th>+91j</th>
      <th>182j</th>
      <th>365j</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2024-04-22</td>
      <td>8105.78</td>
      <td>-0.20%</td>
      <td>-0.58%</td>
      <td>-0.26%</td>
      <td>-0.22%</td>
      <td>-1.06%</td>
      <td>1.48%</td>
      <td>-1.97%</td>
    </tr>
    <tr>
      <td>MSE</td>
      <td>404806.06</td>
      <td>6065.63</td>
      <td>34806.99</td>
      <td>63498.15</td>
      <td>91195.09</td>
      <td>122765.04</td>
      <td>205694.97</td>
      <td>192225.17</td>
    </tr>
    <tr>
      <td>MAE</td>
      <td>544.65</td>
      <td>61.21</td>
      <td>146.11</td>
      <td>199.74</td>
      <td>238.66</td>
      <td>276.81</td>
      <td>354.08</td>
      <td>324.27</td>
    </tr>
    <tr>
      <td>RSE</td>
      <td>1.55</td>
      <td>0.13</td>
      <td>0.32</td>
      <td>0.45</td>
      <td>0.54</td>
      <td>0.63</td>
      <td>0.86</td>
      <td>1.48</td>
    </tr>
  </tbody>
</table>