<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>last update</th>
      <th>last close</th>
      <th>+1j</th>
      <th>+15j</th>
      <th>+30j</th>
      <th>+61j</th>
      <th>+91j</th>
      <th>182j</th>
      <th>365j</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2024-04-23</td>
      <td>4894.94</td>
      <td>0.26%</td>
      <td>-0.58%</td>
      <td>-0.67%</td>
      <td>0.22%</td>
      <td>0.32%</td>
      <td>-1.11%</td>
      <td>-2.07%</td>
    </tr>
    <tr>
      <td>MSE</td>
      <td>234493.98</td>
      <td>4349.88</td>
      <td>25186.75</td>
      <td>38796.35</td>
      <td>48509.28</td>
      <td>61747.58</td>
      <td>84920.97</td>
      <td>225657.45</td>
    </tr>
    <tr>
      <td>MAE</td>
      <td>411.71</td>
      <td>51.50</td>
      <td>122.43</td>
      <td>150.08</td>
      <td>168.61</td>
      <td>193.18</td>
      <td>236.13</td>
      <td>404.77</td>
    </tr>
    <tr>
      <td>RSE</td>
      <td>2.52</td>
      <td>0.26</td>
      <td>0.65</td>
      <td>0.78</td>
      <td>0.89</td>
      <td>1.04</td>
      <td>1.26</td>
      <td>1.93</td>
    </tr>
  </tbody>
</table>