<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>last update</th>
      <th>last close</th>
      <th>+1j</th>
      <th>+15j</th>
      <th>+30j</th>
      <th>+61j</th>
      <th>+91j</th>
      <th>182j</th>
      <th>365j</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2024-04-23</td>
      <td>15.69</td>
      <td>3.19%</td>
      <td>-0.04%</td>
      <td>-2.16%</td>
      <td>-1.99%</td>
      <td>-1.18%</td>
      <td>-0.42%</td>
      <td>-3.95%</td>
    </tr>
    <tr>
      <td>MSE</td>
      <td>38.02</td>
      <td>1.74</td>
      <td>8.31</td>
      <td>11.89</td>
      <td>13.68</td>
      <td>15.79</td>
      <td>31.09</td>
      <td>66.06</td>
    </tr>
    <tr>
      <td>MAE</td>
      <td>5.05</td>
      <td>0.94</td>
      <td>2.19</td>
      <td>2.58</td>
      <td>2.84</td>
      <td>3.19</td>
      <td>4.74</td>
      <td>7.63</td>
    </tr>
    <tr>
      <td>RSE</td>
      <td>3.25</td>
      <td>0.22</td>
      <td>0.50</td>
      <td>0.60</td>
      <td>0.65</td>
      <td>0.70</td>
      <td>1.04</td>
      <td>3.71</td>
    </tr>
  </tbody>
</table>