<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>last update</th>
      <th>last close</th>
      <th>+1j</th>
      <th>+15j</th>
      <th>+30j</th>
      <th>+61j</th>
      <th>+91j</th>
      <th>182j</th>
      <th>365j</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2024-04-23</td>
      <td>15696.64</td>
      <td>-0.50%</td>
      <td>-0.10%</td>
      <td>0.96%</td>
      <td>1.57%</td>
      <td>1.72%</td>
      <td>10.65%</td>
      <td>15.20%</td>
    </tr>
    <tr>
      <td>MSE</td>
      <td>667720.75</td>
      <td>46566.19</td>
      <td>290415.12</td>
      <td>556431.69</td>
      <td>801975.25</td>
      <td>1445683.62</td>
      <td>5390059.50</td>
      <td>585120.00</td>
    </tr>
    <tr>
      <td>MAE</td>
      <td>686.33</td>
      <td>173.19</td>
      <td>410.58</td>
      <td>561.13</td>
      <td>674.31</td>
      <td>903.05</td>
      <td>1671.64</td>
      <td>606.26</td>
    </tr>
    <tr>
      <td>RSE</td>
      <td>0.83</td>
      <td>0.14</td>
      <td>0.35</td>
      <td>0.47</td>
      <td>0.58</td>
      <td>0.84</td>
      <td>1.72</td>
      <td>0.60</td>
    </tr>
  </tbody>
</table>